<% for todolist in current_user.todolists %>
	<div>
	  <h4><u><%= todolist.title %></u></h4>
	  <p><%= todolist.description %></p>
        <div id="todolist_complete_<%= todolist.id %>">
          <% todolist.notcompleted_listitems.each do |listitem| %>
              <p><%= check_box "listitem", "not_complete_#{listitem.id}", {:checked => false} %><%= listitem.listitem %></p>
          <% end %>
        </div>
      <h6><%= link_to_remote "Add List Item", :url => {:controller => 'listitem', :action => 'new', :todolist => todolist.id} %></h6>
      <div id=<%= "new_listitem_#{todolist.id}"%>></div>
      <div id="todolist_incomplete_<%= todolist.id %>">
        <% todolist.completed_listitems.each do |listitem| %>
            <p><%= check_box("listitem", "is_complete_#{listitem.id}", {:checked => 'checked'}) %><%= listitem.listitem %></p>
        <% end %>
      </div>
	</div>
<% end %>
