<%= error_messages_for 'todolist' %> 
<div>
  <% form_for @todolist, :url => todolist_path do |form| %>
     <p>
       <%= form.label :title %><br />
       <%= form.text_field :title %>
     </p>
     <p>
       <%= form.label :Description %><br />
       <%= form.text_area :description %>
     </p>
       <%= submit_tag "Create" , :class => "submit" %>
     <%= link_to 'Back', todolist_path %>
  <% end %>
</div>
