<%= error_messages_for 'todolist' %> 
<div>
  <% form_for (:todolist, :url => { :action => "create" }) do |form| %>
     <p>
       <%= form.label :title %><br />
       <%= form.text_field :title %>
     </p>
     <p>
       <%= form.label :Description %><br />
       <%= form.text_area :description %>
     </p>
     <p>
       <%= form.label :Assigned_to %><br />
       <%= select("todolist", "user_id", User.find(:all).collect {|p| [ p.username, p.id ] }, { :include_blank => true }) %>
     </p>
       <%= submit_tag "Create" , :class => "submit" %>
     <%= link_to 'Back', :action => "index", :controller => :todolist %>
  <% end %>
</div>
