<p>
 <label class="left" style="width:40%;"><b>UserName:</b></label>
 <label><%= @user.username %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>FirstName:</b></label>
 <label><%= @user.firstname %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>LastName:</b></label>
 <label><%= @user.lastname %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>Email:</b></label>
 <label><%= @user.email %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>BirthDate:</b></label>
 <label><%= @user.birthdate ||= "-" %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>Sex:</b></label>
 <label><%= @user.sex ||= "-" %></label>
</p>
<p>
	<%= link_to 'Edit', edit_user_path %>
  <%= link_to 'Back', todolist_index_path %>
<p>
