<html>
  <head>
  <title>TodoList</title>
    <%= stylesheet_link_tag "todolist" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
        <h1>Todolist Application</h1>  
      </div>
      <div id="message">
        <%= notifications %>
      </div>
      <div id="content">
        <div class="left">
          <%= yield :layout %>
        </div>
        <div class="right">
          <p><%= link_to 'Create New Todo', :action => "new", :controller => :todolist %></p>
          <p><%= link_to 'Show all', :action => "list_all", :controller => :todolist %></p>
          <p><%= link_to 'Logout', :action => "logout", :controller => :login %></p>
        </div>        
      </div>
      <div id="footer">
        <h6>This is a service of Vinsol.</h6>
      </div>
    </div>
  </body>
</html>
